{% extends 'base.html' %}

{% block body %}
    <form action="{% url 'add_paste' %}" style="padding: 1rem 10rem;" method="post">
        {% csrf_token %}
        {{ form.non_field_errors}}
        {% for field in form %}
        <div class="mb-3">
            <label class="form=label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary"" value="Add Paste">Add Paste</button>
    </form>
{% endblock %}